// 自定义全局变量

// vuetify全局变量
// 提示框样式
$snackbar-font-size: 28px;
$snackbar-content-min-height: 80px;
$snackbar-wrapper-min-width: 100%;
$snackbar-border-radius: 8px;
// 导航栏样式
$bottom-nav-btn-font-size: 30px;
